
.Style-thing{
  width: 150px;
  height: 50px;
  background: linear-gradient(to right, yellow 50%, purple 50%);
  border-radius: 3px;
  border-style: solid;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  align-content : center;
}